* {
    box-sizing: border-box;
  }

p{
  @include font($main-color, 14px, $font-type);
}

h1{
  @include font($main-color, 16px, $font-type);
  font-weight: 600;
  margin-bottom: 10px;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    padding: 18px 0;
  
  img{
      width: 150px;
      height: 150px;
      grid-column: 2;
      display: flex;
      justify-self: center;
    }
  
  ul{
    display: flex;
    align-self: end;
    justify-self: flex-end;
    grid-column: 3;
    margin: 0 6px 4px 0;
  
    a{
      @include font($header-color, 16px, $font-type);
      background: set-contrast-color($header-color);
      margin: 10px;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }
}

main{ 
    margin: 1rem auto;
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5%;
  
    section{
      @extend %ph;

      ul{
      padding: 0 30px;
      @include font($main-color, 18px, $second-font);
        span{
          font-weight: bold;
        } 
      }
      .ph-color{
        @extend %ph-color;

        li{
          @include font($header-color, 18px, $second-font);
      }
    }
  }

  .beer-item {
    @extend %beer-background;
    height: 45vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:  0 20px;
    margin: 5px 0;

    img{
      width: auto;
      height: 200px;
      margin-bottom: 20px;
    }
  }
}

.modal {
  background-color: #F2F2F2;
  width: 700px;
  height: 350px;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  z-index: 2; 
  
  div{
    background-color: #047CBB;
    padding: 18px;
    display: flex;
    justify-content: space-between;

    h1{
      @include font($header-color, 14px, $font-type);
    font-weight: 100;
    }

    p{
      color: white;
      font-weight: bold;
    }
  }
  
  ul{
  padding: 35px 40px;
  @include font($main-color, 16px, $font-type);
    
    span{
      font-weight: bold;
    }
}
}

.randomBeer{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  z-index: 1;

  button{
    background-color: rgb(248, 183, 4);
      border: none;
      margin: auto;
      width: 250px;
      padding: 2% 4%;
      @include font($header-color, 12px, $second-font);

  }
  .one-beer{
    @extend %beer-background;
    height: 35vw;
    margin: 5% 1%;
    align-items: center;

    img{
      width: auto;
      height: 250px;
  }
  
    .description{
      width: 35%;
      padding-left: 5%;
      text-align: center;

      h2{
      @include font(#0C6CD4, 16px, $second-font);
         margin: 2%;
    }

      button{
        background-color: rgb(13, 98, 189);
        border: none;
        padding: 3% 8%;
        margin-top: 5%;
        @include font($header-color, 12px, $second-font);

    }
    button:hover{
      background-color: rgb(10, 78, 151);
      transform: scale(1.1);
      transition: 0.5s ease;
    }

      section{
        @extend %ph;

        ul{
        @include font($main-color, 15px, $second-font);
          span{
            font-weight: bold;
          } 
        }
        .ph-color{
          @extend %ph-color;
  
          li{
            @include font($header-color, 15px, $second-font);
        }
      }
    }
  }
  }
}

.cover{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.438);
}

.pick-a-beer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #F2F2F2;
    width : 55%;
    margin : 50px auto;
    @include font($main-color, 15px, $second-font);
    overflow: hidden;
    .form-pick-a-beer{
        height: 70px;
  }
    .text-pick{
      grid-column: 1;
      grid-row : 1;
      color : #0C6CD4;
      display: flex;
      justify-content: center;
      margin-top: 35px;
      margin-bottom: 30px;
  }
    .name-pick{
      grid-column-start: 1;
      grid-column-end : 3;
      grid-row : 2;
      justify-self: start;
      margin-left: 35px;
      input{
        @extend %imput-one;
      }
  }
    .hops-pick{
      grid-column-start: 2;
      grid-column-end : 4;
      grid-row : 2;
      margin-left: 110px;
      justify-self: center;
      input{
        @extend %imput-one;
      }
  }
    .abv-pick{
      grid-column-start: 1;
      grid-column-end : 2;
      grid-row : 3;
      justify-self: center;
      input{
        @extend %imput-two;
      }
  }
    .ibu-pick{
      grid-column-start: 2;
      grid-column-end : 3;
      grid-row : 3;
      justify-self: center;
      input{
        @extend %imput-two;
      }
  }
    .ebc-pick{
      grid-column-start: 3;
      grid-column-end : 4;
      grid-row : 3;
      justify-self: center;
      input{
        @extend %imput-two;
      }
  }
    .button-pick-a-beer{
      grid-column-start: 3;
      grid-column-end : 4;
      grid-row : 4;
      justify-self: center;

    button{
      background-color: #047CBB;
       padding: 10px 13px;
       width: 100%;
       @include font($header-color, 10px, $second-font);
      }
  }
}

footer{
  margin: 2rem;
  display: flex;
  justify-content: center;

  .pagination {
    display: inline-block;

    a {
      @include font($main-color, 16px, $font-type);
      font-weight: 400;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
     }

     a:hover:not(.active) {
       background-color:#047CBB;
       color:white;
      }
  }
}