* {
    box-sizing: border-box;
  }

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
  
  img{
      width: 200px;
      height: 200px;
      grid-column: 2;
      display: flex;
      justify-self: center;
    }
  
  ul{
    display: flex;
    align-self: end;
    justify-self: flex-end;
    grid-column: 3;
  
    li{
      @include font($header-color, 16px, $font-type);
      margin: 10px;
      font-weight: 600;
    }
  }
}

main { 
    margin: 1rem auto;
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .beer-item {
    background-color:#f2f2f2;
    margin: 0.5rem;
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

footer{
  margin: 2rem;
  display: flex;
  justify-content: center;

  .pagination {
    display: inline-block;

    a {
      @include font($main-color, 16px, $font-type);
      font-weight: 400;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
     }

     a:hover:not(.active) {
       background-color:#047CBB;
       color:white;
      }
  }
}
